@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
  background-image: url(img/1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

.weather-app {
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%;
  max-width: 600px; */
}

#city-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

#search-button, #current-location, #unit-toggle {
  padding: 10px;
  background-color: #617B94;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#suggestions {
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  width: 31%; 
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  border-radius: 5px;
  margin-top: 40px;
  box-sizing: border-box; 
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.weather-display {
  margin-top: 20px;
}

#weather-icon {
  width: 60px;
}

.forecast {
  margin-top: 20px;
}

.forecast-day {
  display: inline-block;
  width: 100px;
  text-align: center;
}

/* media queries */
@media (max-width: 768px) {
  .weather-app {
    width: 90%; 
    padding: 15px; 
  }

  #suggestions {
    width: 78%; 
    margin-top: 40px;
  }

  .forecast-day {
    width: 80px; 
  }
}

@media (max-width: 480px) {
  .weather-app {
    width: 95%; 
    padding: 10px; 
  }

  #suggestions {
    width: 68%; 
    margin-top: 40px; 
  }

  .forecast-day {
    width: 70px; 
  }

  #city-input {
    padding: 8px;
  }

  #search-button, #current-location, #unit-toggle {
    padding: 8px; 
  }
}

